<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body>
        <footer th:fragment="footerBusqueda" class="container">
            <script th:src="@{/js/jquery-3.3.1.min.js}" ></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/jquery-ui.min.js}"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/ju-1.12.1/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/datatables.min.js"></script>
            <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
            <script th:src="@{/js/moment.min.js}"></script>
            <script th:src="@{/js/es.js}"></script>
            <script th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>
            <script th:src="@{/js/busqueda.js}"></script>
        </footer>
    </body>
</html>