<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <header th:replace="layout/layout :: header"></header>
        <div class="container py-4">
            <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h1>

            <div class="container row">
                <label class="col-sm-2 col-form-label" style="text-align: center; font-weight: bold;">Fecha inicio</label>
                <div class='col-md-3'>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" id="from"/>
                            <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="col-sm-2 col-form-label" style="text-align: center; font-weight: bold;">Fecha fin</label>
                <div class='col-md-3'>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" id="to"/>
                            <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-info" id="buscarPorFecha" onclick="busquedaPorFecha();">Buscar</button>
                    </div>
                </div>
            </div>
            
            <div class="container py-4" id="mensajeNoResultados"  hidden>
                <div class="alert alert-warning" role="alert">
                    No se encontraron facturas con las fechas ingresadas.
                </div>
            </div>
            
            <div class="container py-4" id="widgetsTotales"  hidden>
                <div class="card-deck">
                    <div class="card mb-4 text-white bg-success">
                        <div class="card-body">
                            <!--<h2 class="card-title totalesCard" th:text="'$ ' + ${totalViajesFacturas}"></h2>-->
                            <h2 class="card-title totalesCard" id="widgetTotalViajes"></h2>
                            <p class="card-text totalesCard"><i class="fa fa-truck-moving"></i>&nbsp&nbsp Total facturas de viajes</p>
                        </div>
                    </div>
                    <div class="card mb-4 text-white bg-warning">
                        <div class="card-body">
                            <!--<h2 class="card-title totalesCard" th:text="'$ ' + ${totalGeneralFacturas}"></h2>-->
                            <h2 class="card-title totalesCard" id="widgetTotalGenerales"></h2>
                            <p class="card-text totalesCard"> <i class="fa fa-receipt"></i>&nbsp&nbsp Total facturas normales</p>
                        </div>
                    </div>
                    <div class="card mb-4 text-white bg-danger">
                        <div class="card-body">
                            <!--<h2 class="card-title totalesCard" th:text="'$ ' + ${totalDiferencia}"></h2>-->
                            <h2 class="card-title totalesCard" id="widgetTotalDiferencia"></h2>
                            <p class="card-text totalesCard"><i class="fa fa-calculator"></i>&nbsp&nbsp Diferencia</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container py-4" id="generalesDataTable" hidden>
                <div class="card">
                    <div class="card-header"  style="font-weight: bold;">Tabla de facturas generales</div>
                    <div class="card-body">
                        <div class="panel-body table-responsive">
                            <table id="tablaFacturasGenerales" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                        <th>Descripción</th>
                                        <th>Costo</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="container py-4" id="viajesDataTable" hidden>
                <div class="card">
                    <div class="card-header" style="font-weight: bold;">Tabla de facturas de viajes</div>
                    <div class="card-body">

                        <div class="panel-body table-responsive">
                            <table id="tablaFacturasViajes" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                        <th>Descripción</th>
                                        <th>Costo</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer th:replace="layout/layout :: footerBusqueda"></footer>
    </body>
</html>