<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body>
        <header th:replace="layout/layout :: header"></header>

        <div class="container py-4">
            <div class="card-deck">
                <div class="card mb-4 text-white bg-success">
                    <div class="card-body">
                        <h2 class="card-title totalesCard" th:text="'$ ' + ${totalGeneralFacturas}"></h2>
                        <p class="card-text totalesCard">Total facturas normales</p>
                    </div>
                </div>
                <div class="card mb-4 text-white bg-warning">
                    <div class="card-body">
                        <h4 class="card-title totalesCard">$ 400.00</h4>
                        <p class="card-text totalesCard">Total 2</p>
                    </div>
                </div>
                <div class="card mb-4 text-white bg-danger">
                    <div class="card-body">
                        <h4 class="card-title totalesCard">$ 600.00</h4>
                        <p class="card-text totalesCard">Diferencia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="card">
                <div class="card-header" th:text="${titulo}" style="font-weight: bold;"></div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="btn btn-primary texto-blanco" th:href="@{/form}">Nuevo registro</a>
                    </h4>
                    <div class="panel-body table-responsive">
                        <table id="tablaFacturas" class="table table-striped">
                            <thead>
                                <tr>
                                    <th >ID</th>
                                    <th>Descripción</th>
                                    <th>Costo</th>
                                    <th>Fecha</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="factura:${facturas}">
                                    <td data-sortable="true" th:text="${factura.id}"></td>
                                    <td data-sortable="true" th:text="${factura.descipcion}"></td>
                                    <td data-sortable="true" th:text="'$ ' +${#numbers.formatDecimal(factura.costo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                                    <td data-sortable="true" th:text="${factura.fecha}"></td>
                                    <td>
                                        <a class="btn btn-warning btn-xs texto-blanco">Editar</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-xs texto-blanco">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>